body {
  text-align: center;
  background-color: tomato;
}
.liststyle {
  list-style: none;
  margin-bottom: 2em;
  margin-top:  1em;
}

.title {
  font-weight: bold;
  font-size: 1em;
}

.blink {

}
